asgiref==3.7.2
click==8.1.7
colorama==0.4.6
Django==5.0.2
django-admin-black==1.0.8
django-cleanup==8.1.0
django-click==2.3.0
django-cors-headers==4.3.1
django-filter==23.5
django-settings-toml==0.0.4
djangorestframework==3.14.0
importlib-resources==6.1.1
Markdown==3.5.2
mypy-extensions==1.0.0
pathspec==0.12.1
pillow==10.2.0
pytz==2024.1
sqlparse==0.4.4
toml==0.10.2
tzdata==2023.4
